<%= form_tag(url: messages_path, method: :post) do %>

  <%= text_field_tag :message %>
  <%= hidden_field_tag 'sender_id', @sender_id  %>
  <%= hidden_field_tag 'receiver_id', @receiver_id  %>
  <%= submit_tag "Send Message" %>
<% end %>

<div class="messages__page">
      <% if @messages.count == 0 %>
        <div class="messages__single">
          There are no messages between the two of you...type in the box above to start a conversation
        </div>
      <% else %>
        <% @messages.each do |msg| %>
          <% if msg.sender_id == current_user.id %>
            <div class="messages__single_sender">
              <p class="messages__body">
                <div class="sender_msg_info">
                  <strong>you
                  <br />
                  sent <%= distance_of_time_in_words(msg.created_at, Time.now) %> ago
                  <br />
                  <% if msg.seen %>
                    <span style="color:green;">read <%= distance_of_time_in_words(msg.seen_time, Time.now) %> ago</span>
                    <br /><br />
                  <% else %>
                    <span style="color:red;">not read</span></strong> <br />
                  <% end %>
                </div>
                <%=simple_format(msg.body)%>
              </p>
            </div>
          <% else %>
            <div class="messages__single_receiver">
              <p class="messages__body">
                <div class="receiver_msg_info">
                  <strong><%= @receiver.name.split(' ').first %><br />
                  <% if @receiver.is_online %>
                    <br />
                    <span class="profile__online--link">online now</span>
                    <br />
                  <% else %>
                    not online
                  <% end %>
                </div>
                <%=simple_format(msg.body)%>
              </p>
            </div>
          <% end %>
        <% end %>
      <% end %>

</div>
