<% provide( :title, 'Comments' ) %>
<% provide( :single_title, "All comments for \'#{@post.title}\'" ) %>

<section class="comments">
<%= link_to "Back to " + @post.title, post_path(@post), class: "back" %>
  <% if @comments.all.count > 0 %>

    <div class="comments__container">
      <% @comments.each do |comment| %>
      <article class="comments__single">
        <header>
          <span>POSTED <%= time_ago_in_words(comment.created_at).upcase %> AGO</span>
          <span><%= link_to User.find(comment.user_id).name.upcase, User.find(comment.user_id) %></span>
        </header>
        <hr>
        <main><%= truncate(comment.body, :length => 400, :separator => ' ', :omission => ' ... ') {link_to '(more)', [comment.post, comment] } %></main>
        <% if (current_user && current_user.id == comment.user_id) || (comment.created_at != comment.updated_at) %>
          <% if comment.created_at != comment.updated_at %>
            <div class="comments__edited">updated <%= time_ago_in_words(comment.updated_at) %> ago</div>
          <% end %>
        <hr>
        <div class="comments__buttons-container">
          <footer>
              <%# if user logged and comment belongs to user %>
              <li class="button button--comment_post"> <%= link_to 'âœï¸', edit_post_comment_path(comment.post, comment) %></li>
              <li class="button button--comment_post"> <%= link_to 'ðŸ—‘ï¸', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </footer>
        <% end %>
      </article>
      <% end %>
    </div>
    <% else %>
    <div class="comments__none">
    <div>
    <p class="comments__paragraph">There are no comments for this post yet</p>
    </div>
    </div>
  <% end %>
</section>

<% if current_user %>
  <%= link_to 'New Comment', new_post_comment_path, class: "button button--new_comment" %>
<% end %>