<% provide(:title, 'Comments') %>
<% provide(:single_title, "All comments for #{@post.title}") %>

<section class="comments">
<%= link_to "Back to " + @post.title, post_path(@post), class: "back" %>
  <% if @comments.all.count > 0 %>

    <div class="comments__container">
      <% @comments.each do |comment| %>

      <% user = User.find(comment.user_id) %>
      <!-- get all likes for comment -->
      <% likes = CommentLike.where(comment_id: comment.id) %>
      <!-- has user liked this post? -->
      <% liked = CommentLike.where("comment_id = ? AND user_id = ?", comment.id, current_user.id) %>
      <article class="comments__single">
        <header>
          <span><%= time_ago_in_words(comment.created_at).upcase %> AGO</span>
          <span><%= user.admin ? "<span class='account-type'>admin</span>".html_safe : "" %> <%= link_to user.name.upcase, user %></span>
        </header>
        <hr>
        <main><%= truncate(comment.body, :length => 400, :separator => ' ', :omission => ' ... ') {link_to '(more)', [comment.post, comment] } %></main>
          <% if comment.created_at != comment.updated_at %>
            <div class="edited">updated <%= time_ago_in_words(comment.updated_at) %> ago</div>
          <% end %>
          <hr>
          <div class="comments__buttons-container">
            <footer>
              <% if (current_user && current_user.id == comment.user_id) %>
                <%# if user logged and comment belongs to user %>
                <li class="button button--comment_post"> <%= link_to 'âœï¸', edit_post_comment_path(comment.post, comment) %></li>
                <li class="button button--comment_post"> <%= link_to 'ðŸ—‘ï¸', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %></li>
              <% end %>
              <li>
                <% if liked.count > 0 %>
                  <span class="liked" >liked</span>
                <% else %>
                  <span><%= likes.count %> likes</span>
                <% end %>
              </li>
              <% if current_user && (current_user.id != comment.user_id) && liked.all.count < 1  %>
                <li><%= link_to 'like this', post_comment_comment_likes_path(comment.post, comment, user_id: current_user.id), method: :post %></li>
              <% end %>
            </footer>
          </div>
      </article>
      <% end %>
    </div>
    <% else %>
    There are no comments for this post yet
  <% end %>
</section>

<% if current_user %>
  <%= link_to 'New Comment', new_post_comment_path, class: "button" %>
<% end %>