<% provide(:single_title, @title) %>

<h1></h1>
<%= link_to 'Back to Post', post_path(@post) %>

<section class="comments">
  <% if @comments.all.count > 0 %>

    <div class="comments__container">
      <% @comments.each do |comment| %>
      <article class="comments__single">
        <header>
          <span>Posted at: <%= comment.created_at.strftime("%d/%m/%Y %H:%M:%S") %></span>
          <span><%= User.find(comment.user_id).name %></span>
        </header>
        <hr>
        <main><%= comment.body %></main>
        <hr>
        <footer>
          <span><%= link_to 'Show', [comment.post, comment] %></span>
          <%# if user logged and comment belongs to user %>
          <% if current_user && current_user.id == comment.user_id %></span>
            <span> | <%= link_to 'Edit', edit_post_comment_path(comment.post, comment) %>
            <span> | <%= link_to 'Delete', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %></span>
          <% end %>
        </footer>
      </article>
      <% end %>
    </div>
  <% else %>
    There are no comments for this post yet
  <% end %>
</section>

<% if current_user %>
  <%= link_to 'New Comment', new_post_comment_path, class: "button" %>
<% end %>