<% provide(:single_title, @title) %>

<section class="comments">
  <%= link_to 'Show all comments for ' + @post.title, post_comments_path, class: "back" %>		
  <div class="comments__container">
    <article class="comments__single">
        <header>
          <span><%= @comment.created_at.strftime("%d/%m/%Y %H:%M:%S") %></span>
          <span><%= @userName %></span>
        </header>    	
        <hr>
    	<main>
			<%= @comment.body %>
		</main>
		<% if current_user && current_user.id == @comment.user_id %>
			<hr>
			<footer class="comments__buttons-container--edit">
				<li class="button button--comment_editsecond"><%= link_to '✍️', edit_post_comment_path(@comment.post, @comment) %></span>
	            <li class="button button--comment_editsecond"><%= link_to 'Delete', [@comment.post, @comment], method: :delete, data: { confirm: 'Are you sure?' } %></span>
			</footer>
		<% end %>
		</div>
	</article>
  </span>
</section>


