<li>
  <%= gravatar_for user, size: 50 %>
  <% if logged_in? %>
    <%= link_to user.name, user %> | <em><%= pluralize(user.views, "view") %></em>

    <% if user.is_online %>
      | <span style="color:green;"><em>Currently Online</em></span>
    <% else %>
      | last login -  <%= distance_of_time_in_words(user.last_active_at, Time.now) %> ago 
    <% end %>

    <% if current_user.admin? && !(current_user == user) %>
      | <%= link_to "delete", user, method: :delete,
                                data: { confirm: "Are you certain you want to delete #{user.name}?" } %>
    <% end %>
  <% else %>
    <strong><%= user.name %></strong> - <em>log in to view full profile</em>
  <% end %>
</li>
