<div class="users">
<span class="users__single--container">
  <div class="users__gravatar">
    <%= gravatar_for user, size: 50 %>
  </div>
    <% if logged_in? %>
      <div class="users__username">
      <%= link_to user.name, user %> | <em><%= pluralize(user.views, "view") %></em>
      </div>
    <% else %>
      <div class="users__username">
        <strong><%= user.name %></strong> - <em>log in to view full profile </em>
      </div>
    <% end %>
</span>
<span class="users__log_in">
    <% if user.is_online %>
      &nbsp;|&nbsp;<span class="users__log_in", style="color:green;"><em> Currently Online </em></span>
    <% else %>
      <span class="users__log_in">
        &nbsp;| last login -  <%= distance_of_time_in_words(user.last_active_at, Time.now) %> ago
      </span>
    <% end %>

    <% if logged_in? && current_user.admin? && !(current_user == user) %>
      | <%= link_to "delete", user, method: :delete,
                                data: { confirm: "Are you certain you want to delete #{user.name}?" } %>
    <% end %>
</div>
