<% provide(:title, "Edit User") %>
<% provide(:single_title, "Update Your Settings Here") %>

<div>
  <div>
    <%= form_for(@user) do |f| %>
      <%= render 'layouts/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form__confirmation' %>

      <%= f.submit "Save changes" %>
    <% end %>

    <div>
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">change</a>
    </div>
    <%= link_to "Delete Account", @user, method: :delete,
                  data: { confirm: "Are you certain you wish to delete your account?" } %>
  </div>
</div>
