<% provide(:title, 'Sign Up') %>
<% provide(:single_title, 'Sign Up To The Blogosphere') %>

<%= render 'layouts/error_messages' %>

<div>
  <div class="form form--create_account">
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <br />

      <%= f.label :email %>
      <%= f.email_field :email %>

      <br />

      <%= f.label :password %>
      <%= f.password_field :password %>

      <br />

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, {:style=>'margin-left:0.2em;'} %>

      <br />

      <%= f.submit "Create my account", class: "button button--create_account"%>
    <% end %>
  </div>
</div>
