<% provide(:title, @user.name) %>
<% provide(:single_title, "View Profile") %>

<div class="profile">
  <div class="profile__single">

  <h1>
    <%= gravatar_for @user %>
    <br />
    <%= @user.name %>
  </h1>
    <br />
    <% if @user.id == current_user.id %>
      <%= link_to "Compose Post", new_post_path, :style=>'border-radius:0.4em; padding: 20px; background-color:black; color:white;' %>
    <% end %>
    <%= link_to "View Posts", single_user_posts_path(:user_id => @user.id), :style=>'border-radius:0.4em; padding: 20px; background-color:black; color:white;' %>
    <br />

  <br /><hr /><br />
    <%= @user.email %>
    <br />
    <%= @user.views %> profile views
    <br />
    <% if @user.is_online %>
      <br />
      <span style="border-radius:0.4em; padding:10px;background-color:green; color:white;">Currently Online</span>
      <br />
    <% else %>
      last login -  <%= distance_of_time_in_words(@user.last_active_at, Time.now) %> ago
    <% end %>
    <br />
    Member since <%= @user.activated_at.strftime("%d %B %Y") %>
    <br />

    <% if @user.id == current_user.id %>
      <br /><hr /><br />
      <%= link_to "Modify Account Details", edit_user_path(@user.id) %>
      <br /><br />
      <em><%= link_to "Remove Account", @user, method: :delete, :style=>'border-radius:0.4em; padding: 10px; background-color:red; color:white;',
                              data: { confirm: "Are you certain you want to delete #{@user.name}?" } %></em>
    <% end %>
</div>
</div>