<div class="posts__page">
  <div class="posts__container">
    <%@posts.each do |post|%>
<%= link_to post_path(post.id), class: "linkstyle" do %>
    <div class="posts__single">
      <h1>
        <%=post.title%>
      </h1>
      <p>
        by <%=post.user.name%>
      </p>
      <p>
        <%=post.body%>
      </p>
      <% if @post.votes? %>
          <p>
          votes:<%=@post.votes%>
        </p>
        <% else %>
           <p>
          votes 0
        </p>
        <% end %>
  </div>
    <%end%>
        <%end%>
  </div>

  </li>
</div>
<div class="posts__container--link">
  <h2>Feel like joining the discussion?</h2>
  <li class="button button--create_post"><%= link_to "Create Post", new_post_path, {:style=>'text-decoration:none;'} %></li>
</div>
</div>

