<div class="posts">
  <div class="posts__title--container">
    <h1 class="posts__title">You're in the right place to create a post!</h1>
  </div>
  <div class="form__container">
    <div class="form">
      <%= form_for :post, url: posts_path do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>

      <p class="form__label">
        <%= f.label :title %><br>
        <%= f.text_field :title, placeholder: "Add your article's title...", required: true %>
      </p>

      <p class="form__label">
        <%= f.label :body %><br>
        <%= f.text_area :body, placeholder: "Add your article's content...", required: true %>
      </p>

      <p>
        <%= f.submit class:"button button--save_post"%>
      </p>
      <% end %>
    </div>
  </div>
</div>