<% provide(:title, 'Post') %>
<% provide(:single_title, "Here's the Article") %>


<div class="post__page">
  <div class="post__single">
    <h1>
      <%=@post.title%>
    </h1>
       <% if logged_in? && @post.user.name == current_user.name%>
          <li class="button button--delete_post"><%= link_to 'ðŸ—‘ï¸', post_path(@post.id), { method: :delete, data: { confirm: 'Are you sure?' }, :style=>'text-decoration:none;'}%></li>
        <%end%>
    <p>
      created by <em><%=@post.user.name%></em>
    </p>
    <p>
      <%= time_ago_in_words(@post.created_at) %> ago
    </p>
    <p class="post__body">
      <%=@post.body%>
    </p>
    <div class="comments__view">
      <%= link_to 'View comments here', post_comments_path(@post.id) %>
      <%=@count%>
      <% if @post.votes? %>
      <br><br>
      <hr>
      <p style="margin-bottom:-0.5em;">
        votes <%=@post.votes%>
      </p>
    <% else %>
      <p>
        votes 0
      </p>
    <% end %>
    </div>
      <% if logged_in? && @post.user.name != current_user.name%>
        <div class="post__buttons">
          <li class="button button--vote_post"><%= link_to 'ðŸ‘', post_path(@post.id, :value => 1), { method: :put, :style=>'text-decoration:none;'}%></li>
          <li class="button button--vote_post"><%= link_to 'ðŸ‘Ž', post_path(@post.id, :value => -1), { method: :put, :style=>'text-decoration:none;'}%></li>
        </div>
      <%end%>
      <% unless logged_in?%>
        <div class="post__log-in-bubble"><%= link_to "Log in to vote on this article", login_path %></div>
      <%end%>
  </div>
</div>
