<% provide(:title, 'Post') %>
<% provide(:single_title, "Here's the Article") %>


  <div class="post__page">
      <div class="post__single">
        <h1>
          <%=@post.title%>
        </h1>
        <p>
          by <%=@post.user.name%>
        </p>
        <p>
          <%=@post.body%>
        </p>
        <div class="comments">
    Comments show here:
    <div class="comments__container">
      <%@post.comments.each do |comment|%> 
        <div class="comments__single">
           <%=comment.body%> 
        </div>
      <%end%> 
    </div>
     <% if @post.user.name == current_user.name %>
      <li class="button button--delete_post"><%= link_to 'Delete Post', post_path(@post.id), {method: :delete, data: { confirm: 'Are you sure?' }, :style=>'text-decoration:none;'}%></li>
      <%end%>
  </div>
      </div>
  </div>
</div>

