<header>
  <div>
    <nav class="nav">
      <ul class="nav__link--container">
          <li><%=link_to "Home",   posts_path, class: "nav__link--home"%></li>
         <div class="nav__link--container--others">
        <li><%= link_to "About",   about_path, class: "nav__link" %></li>
        <li><%= link_to "Bloggers", users_path, class: "nav__link" %></li>
        <% if logged_in? %>
          <li><%= link_to "Profile", current_user, class: "nav__link" %></li>
          <li><%= link_to "Settings", edit_user_path(current_user.id), class: "nav__link" %></li>
          <li><%= link_to "Log out", logout_path, class: "nav__link", method: :delete %></li>
        <% else %>
          <li><%= link_to "Log in", login_path, class: "nav__link" %></li>
          <li><%= link_to "Sign Up", signup_path, class: "nav__link" %></li>
        <% end %>
        </div>
      </ul>
    <% if logged_in? %>
      <span class="nav__login-message">You are logged in as <%= current_user.name %></span>
    <% end %>
    </nav>
  </div>
</header>